<%= content_tag :div, class: 'container d-flex align-items-center justify-content-center vh-100' do %>
  <%= form_with(model: User.new, url: '/signin/authenticate', method: 'post', local: true, class: 'text-center') do |form| %>
    <%= form.label :email, 'E-mail' %>
    <%= form.email_field :email, class: 'form-control mb-3', required: true, id: 'emailField' %>

    <%= form.label :password, 'Password' %>
    <%= form.password_field :password, class: 'form-control mb-3', required: true %>

    <div class="d-flex justify-content-center gap-3">
      <%= form.submit 'Sign-in', class: 'btn btn-primary', id: 'submitButton' %>
      <%= link_to 'Sign-up', { controller: 'registers', action: 'new' }, class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% end %>